@charset "UTF-8";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html, body {

}

// .canvas-wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: -1;
// }

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.container {
  height: 1200vh;
}
span {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  color: #fff;
  font-size: 24px;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}
